static/upload/
*__pycache__*
.idea/
.venv
venv/
Scripts/
not_used_html/
node_modules/
old_static/
not_used/
msearch/
effective-forge-317205-29ce7982fec5.json
config.py
app_save.py
pyvenv.cfg
sesion.py
*.aux
*.log
*.pdf
*.tex
1.png
test2.jpeg
**.DS_Store
save_authlib
*.sock
*.sql
*.backup
nginx.conf
.vscode/
/.python-version
/.session
